<div id="contact" class="view-centered">
	<h1>CONTACT</h1>
	<p id="contact-head">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	</p>
	<form id="contact-form">
		<div id="contact-form-content">
			<div id="contact-form-col-left">
				<input type="text" placeholder="Name" />
				<input type="text" placeholder="Email" />
				<input type="text" placeholder="Subject" />
			</div>
			<div id="contact-form-col-right">
				<textarea>Message</textarea>
			</div>
		</div>
		<input class="btn btn-primary btn-red-lg" type="submit" value="Submit Message" />
	</form>
	<ul id="contact-social">
		<li><a class="linkedin" href="#"> <span> </span></a></li>
		<li><a class="github" href="#"> <span> </span></a></li>
		<li><a class="mailto" href="#"> <span> </span></a></li>
	</ul>
</div>