@font-face {
    font-family: "Dissolve Light";
    src: url("../fonts/Dissolve_light.ttf");
}

@font-face {
    font-family: "CF Legends of the Fall - Regular";
    src: url("../fonts/CFLegendsoftheFall-Regular.ttf");
}

body {
    font-size: 16px;
    line-height: 22px;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: #373648;
    background-color: #EEEFE5;
}

a:active, a:link, a:visited {
    color: #d76713;
    text-decoration: none;
}

a:hover {
    color: #813107;
    text-decoration: none;
}

header {
    background-color: sienna;
}

header li {
    list-style-type: none;
    text-transform: capitalize;
    font-family: "CF Legends of the Fall - Regular";
}

#top-nav {
    display: inline-block;
}

#top-nav li, #links li {
    float: left;
}

#top-nav a, #links a {
    display: block;
    margin: 0px 10px 0px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 3px 2px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 20px;
}

#top-nav a:hover, #top-nav a:active, #links a:hover, #links a:active {
    text-decoration: none;
    font-weight: 500;
    background-color: #ffffff;
    color: sienna;
    padding: 2px 3px 2px 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#top-nav a:link, #top-nav a:visited, #links a:link, #links a:visited {
    text-decoration: none;
}

#left-nav {
    display: none;
}

#links {
    display: inline-block;
    float: right;
}